*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.navbar{
      display:flex;
      justify-content: space-around;
      padding:16px;
      box-shadow:0 1px 3px -2px #000;
}
.nav-logo{
      display:flex;
      align-items: center;
      gap:10px;
}
.nav-logo p{
      font-weight: 600;
      font-size: 28px;
      color:#000;
}
.nav-menu{
     display:flex;
     text-decoration: none;
     list-style-type: none;
     align-items: center;
     gap:50px;
     font-weight:500;
     font-size: 15px;
     color:#626262;
}
.nav-menu li{
      display:flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap:3;
      cursor:pointer;
}
.nav-menu  hr{
        border:none;
        width:80%;
        height:3px;
        border-radius:10px;
        background-color: rgb(254, 0, 0);
      margin-top:5px;

}
.nav-login-cart{
      display: flex;
      align-items: center;
      gap:45px;
}
.nav-login-cart button{
      width:100px;
      height:38px;
      outline:none;
      border:1px solid #7a7a7a;
      color:#515151;
      border-radius:75px;
      font-size:15px;
      font-weight:500;
      background:#fff;
}
.nav-login-cart button:active{
      color:#f3f3f3;
}
.nav-cart-count{
      width:22px;
      height:22px;
      display:flex;
      justify-content: center;
      align-items: center;
      margin-top: -35px;
      margin-left: -55px;
      border-radius: 11px;
      font-size: 14px;
      background-color: #ff0000;
      color: #fff;
       
}